In [102]:
# Importing the csv file containing the data for R1 project
import pandas as pd
import numpy as np
Laliga=pd.read_csv('C:/PGP-AIML/R1_Project/Laliga.csv')
print (Laliga.head (2))
type (Laliga)

  Unnamed: 0   Unnamed: 1 Unnamed: 2 Unnamed: 3   Unnamed: 4 Unnamed: 5  \
0        Pos         Team    Seasons     Points  GamesPlayed   GamesWon
1          1  Real Madrid         86       4385         2762       1647

   Unnamed: 6 Unnamed: 7 Unnamed: 8    Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0  GamesDrawn  GamesLost   GoalsFor  GoalsAgainst    Champion   Runner-up
1         552        563       5947          3140          33          23

  Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17  \
0       Third      Fourth       Fifth       Sixth           T       Debut
1           8           8           3           4          79        1929

     Unnamed: 18   Unnamed: 19
0  Since/LastApp  BestPosition
1           1929             1

pandas.core.frame.DataFrame

In [103]:
# Ques 1: Read the data set and replace dashes with 0 for arithmetic operations
New_Header=Laliga.iloc[0]
Laliga_1=Laliga[1:]
Laliga_1.columns=New_Header
Laliga_1=Laliga_1.replace('-',0)
print (Laliga_1.head(10))

0  Pos             Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
1    1      Real Madrid      86   4385        2762     1647        552
2    2        Barcelona      86   4262        2762     1581        573
3    3  Atletico Madrid      80   3442        2614     1241        598
4    4         Valencia      82   3386        2664     1187        616
5    5  Athletic Bilbao      86   3368        2762     1209        633
6    6          Sevilla      73   2819        2408      990        531
7    7         Espanyol      82   2792        2626      948        608
8    8    Real Sociedad      70   2573        2302      864        577
9    9         Zaragoza      58   2109        1986      698        522
10  10       Real Betis      51   1884        1728      606        440

0  GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1        563     5947         3140       33        23     8      8     3
2        608     5900         3114       25        25    12     12     4
3        775     4534         3309       10         8    16      9     7
4        861     4398         3469        6         6    10     11    10
5        920     4631         3700        8         7    10      5     8
6        887     3680         3373        1         4     4      5    12
7       1070     3609         3889        0         0     4      5     2
8        861     3228         3230        2         3     2      5     4
9        766     2683         2847        0         1     4      5     4
10       682     2159         2492        1         0     2      3     4

0  Sixth   T    Debut Since/LastApp BestPosition
1      4  79     1929          1929            1
2      6  83     1929          1929            1
3      6  56     1929       2002-03            1
4      7  50  1931-32       1987-88            1
5     10  49     1929          1929            1
6      6  32  1934-35       2001-02            1
7      5  16     1929       1994-95            3
8      3  19     1929       2010-11            1
9      4  18  1939-40       2012-13            2
10     4  14  1932-33       2015-16            1

In [120]:
# Ques 2: Define the Debut 1930-1980
Laliga_1['Debut_Year']=Laliga_1['Debut'].str[:4]
Laliga_1=Laliga_1.astype({'Debut_Year':'int64'})
Laliga_1.dtypes
Laliga_2=Laliga_1[(Laliga_1['Debut_Year'] >= 1930) & (Laliga_1['Debut_Year'] <= 1980) ]
print (Laliga_2)

0  Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
4    4             Valencia      82   3386        2664     1187        616
6    6              Sevilla      73   2819        2408      990        531
9    9             Zaragoza      58   2109        1986      698        522
10  10           Real Betis      51   1884        1728      606        440
11  11  Deportivo La Coruna      45   1814        1530      563        392
12  12           Celta Vigo      51   1789        1698      586        389
13  13           Valladolid      42   1471        1466      463        384
15  15       Sporting Gijon      43   1389        1458      471        358
16  16              Osasuna      37   1351        1318      426        327
17  17               Malaga      36   1314        1255      390        330
18  18               Oviedo      38   1174        1192      408        292
19  19             Mallorca      27   1148         988      333        256
20  20           Las Palmas      33   1020        1096      367        242
22  22              Granada      23    667         742      218        175
23  23       Rayo Vallecano      17    662         652      189        148
24  24                Elche      21    606         678      203        180
26  26             Hercules      20    538         628      184        149
27  27             Tenerife      13    510         494      155        128
28  28               Murcia      18    445         586      145        143
29  29               Alaves      12    421         380      125         81
30  30              Levante      11    416         402      113         95
31  31            Salamanca      12    375         423      123        102
32  32             Sabadell      14    353         426      129         95
33  33                Cadiz      12    343         448      104        127
35  35            Castellon      11    285         334      103         79
38  38              Cordoba       9    230         282       82         63
40  40           Recreativo       5    188         186       50         46
41  41            Burgos CF       6    168         204       59         50
42  42           Pontevedra       6    150         180       53         44
47  47            Gimnastic       4     91         116       34         16
50  50             Alcoyano       4     76         108       30         16
51  51                 Jaen       3     71          90       29         13
53  53           AD Almeria       2     52          68       17         18
55  55               Lleida       2     40          68       13         14
58  58               Condal       1     22          30        7          8
59  59      Atletico Tetuan       1     19          30        7          5
60  60     Cultural Leonesa       1     14          30        5          4

0  GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
4        861     4398         3469  ...         6    10     11    10     7
6        887     3680         3373  ...         4     4      5    12     6
9        766     2683         2847  ...         1     4      5     4     4
10       682     2159         2492  ...         0     2      3     4     4
11       575     2052         2188  ...         5     4      1     0     1
12       723     2278         2624  ...         0     0      2     4     5
13       619     1767         2180  ...         0     0      1     1     1
15       629     1753         2152  ...         1     1      2     2     1
16       565     1500         1834  ...         0     0      2     2     2
17       535     1421         1763  ...         0     0      1     0     1
18       492     1642         1951  ...         0     3      2     2     4
19       399     1182         1371  ...         0     2      0     2     1
20       487     1347         1746  ...         1     1      1     1     1
22       349      819         1157  ...         0     0      0     0     2
23       305      760         1088  ...         0     0      0     0     0
24       295      750         1022  ...         0     0      0     1     1
26       295      716         1050  ...         0     0      0     1     4
27       211      619          744  ...         0     0      0     2     0
28       298      607          992  ...         0     0      0     0     0
29       174      458          623  ...         0     0      0     0     1
30       194      430          632  ...         0     0      0     0     1
31       198      422          581  ...         0     0      0     0     0
32       202      492          720  ...         0     0      1     1     0
33       217      393          662  ...         0     0      0     0     0
35       152      419          588  ...         0     0      1     2     0
38       137      285          430  ...         0     0      0     1     0
40        90      202          296  ...         0     0      0     0     0
41        95      216          310  ...         0     0      0     0     0
42        83      165          221  ...         0     0      0     0     0
47        66      181          295  ...         0     0      0     0     0
50        62      145          252  ...         0     0      0     0     0
51        48      121          183  ...         0     0      0     0     0
53        33       71          116  ...         0     0      0     0     0
55        41       70          182  ...         0     0      0     0     0
58        15       37           57  ...         0     0      0     0     0
59        18       51           85  ...         0     0      0     0     0
60        21       34           65  ...         0     0      0     0     0

0    T    Debut Since/LastApp BestPosition Debut_Year
4   50  1931-32       1987-88            1       1931
6   32  1934-35       2001-02            1       1934
9   18  1939-40       2012-13            2       1939
10  14  1932-33       2015-16            1       1932
11  12  1941-42       2014-15            1       1941
12  11  1939-40       2012-13            4       1939
13   3  1948-49       2013-14            4       1948
15   7  1944-45       2015-16            2       1944
16   6  1935-36       2016-17            4       1935
17   2  1949-50       2008-09            4       1949
18  11  1933-34       2000-01            3       1933
19   5  1960-61       2012-13            3       1960
20   5  1951-52       2015-16            2       1951
22   2  1941-42       2016-17            6       1941
23   0  1977-78       2015-16            8       1977
24   2  1959-60       2014-15            5       1959
26   5  1935-36       2010-11            5       1935
27   2  1961-62       2009-10            5       1961
28   0  1940-41       2007-08           11       1940
29   1  1930-31       2016-17            6       1930
30   1  1963-64       2015-16            6       1963
31   0  1974-75       1998-99            7       1974
32   2  1943-44       1987-88            4       1943
33   0  1977-78       2005-06           12       1977
35   3  1941-42       1990-91            4       1941
38   1  1962-63       2014-15            5       1962
40   0  1978-79       2008-09            8       1978
41   0  1971-72       1979-80           12       1971
42   0  1963-64       1969-70            7       1963
47   0  1947-48       2006-07            7       1947
50   0  1945-46       1950-51           10       1945
51   0  1953-54       1957-58           14       1953
53   0  1979-80       1980-81           10       1979
55   0  1950-51       1993-94           16       1950
58   0  1956-57       1956-57           16       1956
59   0  1951-52       1951-52           16       1951
60   0  1955-56       1955-56           15       1955

[37 rows x 21 columns]

In [142]:
# Ques 3: Top 5 teams in points
Laliga_1['Points']=Laliga_1['Points'].apply(pd.to_numeric)
Laliga_1.dtypes
print (Laliga_1.nlargest(5,'Points'))

0 Pos             Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1   1      Real Madrid      86    4385        2762     1647        552
2   2        Barcelona      86    4262        2762     1581        573
3   3  Atletico Madrid      80    3442        2614     1241        598
4   4         Valencia      82    3386        2664     1187        616
5   5  Athletic Bilbao      86    3368        2762     1209        633

0 GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth   T  \
1       563     5947         3140  ...        23     8      8     3     4  79
2       608     5900         3114  ...        25    12     12     4     6  83
3       775     4534         3309  ...         8    16      9     7     6  56
4       861     4398         3469  ...         6    10     11    10     7  50
5       920     4631         3700  ...         7    10      5     8    10  49

0    Debut Since/LastApp BestPosition Debut_Year
1     1929          1929            1       1929
2     1929          1929            1       1929
3     1929       2002-03            1       1929
4  1931-32       1987-88            1       1931
5     1929          1929            1       1929

[5 rows x 21 columns]

In [212]:
# Ques 4: Find the goal difference and the top 5 teams using a function
def Goal_diff_count_1 (a,b) :
            Laliga_1['Diff_Goal']= a-b
            print (Laliga_1)
            print ('Team with max goal difference')
            print ('-------------------------------')
            print (Laliga_1[Laliga_1['Diff_Goal']==Laliga_1['Diff_Goal'].max()])
            print ('Team with min goal difference')
            print ('-------------------------------')
            print (Laliga_1[Laliga_1['Diff_Goal']==Laliga_1['Diff_Goal'].min()])
            Laliga_1.drop ('Diff_Goal',axis=1,inplace=True)  

Goal_diff_count_1(Laliga_1['GoalsFor'],Laliga_1['GoalsAgainst'])

#print(Laliga_1)         
#print(Laliga_1,Goal_diff_count_1(Laliga_1['GoalsFor'] ,Laliga_1['GoalsAgainst']))
#= lambda Laliga_1['GoalsFor'],Laliga_1['GoalsAgainst'] : Laliga_1['GoalsFor']-Laliga_1['GoalsFor']

0  Pos                 Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1    1          Real Madrid      86    4385        2762     1647        552
2    2            Barcelona      86    4262        2762     1581        573
3    3      Atletico Madrid      80    3442        2614     1241        598
4    4             Valencia      82    3386        2664     1187        616
5    5      Athletic Bilbao      86    3368        2762     1209        633
6    6              Sevilla      73    2819        2408      990        531
7    7             Espanyol      82    2792        2626      948        608
8    8        Real Sociedad      70    2573        2302      864        577
9    9             Zaragoza      58    2109        1986      698        522
10  10           Real Betis      51    1884        1728      606        440
11  11  Deportivo La Coruna      45    1814        1530      563        392
12  12           Celta Vigo      51    1789        1698      586        389
13  13           Valladolid      42    1471        1466      463        384
14  14     Racing Santander      44    1416        1428      453        336
15  15       Sporting Gijon      43    1389        1458      471        358
16  16              Osasuna      37    1351        1318      426        327
17  17               Malaga      36    1314        1255      390        330
18  18               Oviedo      38    1174        1192      408        292
19  19             Mallorca      27    1148         988      333        256
20  20           Las Palmas      33    1020        1096      367        242
21  21           Villarreal      17     970         646      266        172
22  22              Granada      23     667         742      218        175
23  23       Rayo Vallecano      17     662         652      189        148
24  24                Elche      21     606         678      203        180
25  25               Getafe      12     553         456      147        112
26  26             Hercules      20     538         628      184        149
27  27             Tenerife      13     510         494      155        128
28  28               Murcia      18     445         586      145        143
29  29               Alaves      12     421         380      125         81
30  30              Levante      11     416         402      113         95
..  ..                  ...     ...     ...         ...      ...        ...
32  32             Sabadell      14     353         426      129         95
33  33                Cadiz      12     343         448      104        127
34  34             Logrones       9     293         346       96         92
35  35            Castellon      11     285         334      103         79
36  36             Albacete       7     277         270       76         76
37  37              Almeria       6     242         228       62         56
38  38              Cordoba       9     230         282       82         63
39  39           Compostela       4     190         160       52         45
40  40           Recreativo       5     188         186       50         46
41  41            Burgos CF       6     168         204       59         50
42  42           Pontevedra       6     150         180       53         44
43  43             Numancia       4     148         152       37         37
44  44                Eibar       3     132         114       35         27
45  45               Arenas       7     107         130       43         21
46  46          Real Burgos       3      96         114       26         44
47  47            Gimnastic       4      91         116       34         16
48  48          Extremadura       2      83          80       20         23
49  49               Merida       2      81          80       19         24
50  50             Alcoyano       4      76         108       30         16
51  51                 Jaen       3      71          90       29         13
52  52           Real Union       4      56          72       21         14
53  53           AD Almeria       2      52          68       17         18
54  54               Europa       3      42          54       18          6
55  55               Lleida       2      40          68       13         14
56  56              Leganes       1      35          38        8         11
57  57                Xerez       1      34          38        8         10
58  58               Condal       1      22          30        7          8
59  59      Atletico Tetuan       1      19          30        7          5
60  60     Cultural Leonesa       1      14          30        5          4
61  61               Girona       1       0           0        0          0

0  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T  \
1        563      5947          3140  ...     8      8     3     4  79
2        608      5900          3114  ...    12     12     4     6  83
3        775      4534          3309  ...    16      9     7     6  56
4        861      4398          3469  ...    10     11    10     7  50
5        920      4631          3700  ...    10      5     8    10  49
6        887      3680          3373  ...     4      5    12     6  32
7       1070      3609          3889  ...     4      5     2     5  16
8        861      3228          3230  ...     2      5     4     3  19
9        766      2683          2847  ...     4      5     4     4  18
10       682      2159          2492  ...     2      3     4     4  14
11       575      2052          2188  ...     4      1     0     1  12
12       723      2278          2624  ...     0      2     4     5  11
13       619      1767          2180  ...     0      1     1     1   3
14       639      1843          2368  ...     1      2     0     1   5
15       629      1753          2152  ...     1      2     2     1   7
16       565      1500          1834  ...     0      2     2     2   6
17       535      1421          1763  ...     0      1     0     1   2
18       492      1642          1951  ...     3      2     2     4  11
19       399      1182          1371  ...     2      0     2     1   5
20       487      1347          1746  ...     1      1     1     1   5
21       208       892           789  ...     1      2     3     2   9
22       349       819          1157  ...     0      0     0     2   2
23       305       760          1088  ...     0      0     0     0   0
24       295       750          1022  ...     0      0     1     1   2
25       197       520           633  ...     0      0     0     1   1
26       295       716          1050  ...     0      0     1     4   5
27       211       619           744  ...     0      0     2     0   2
28       298       607           992  ...     0      0     0     0   0
29       174       458           623  ...     0      0     0     1   1
30       194       430           632  ...     0      0     0     1   1
..       ...       ...           ...  ...   ...    ...   ...   ...  ..
32       202       492           720  ...     0      1     1     0   2
33       217       393           662  ...     0      0     0     0   0
34       158       291           489  ...     0      0     0     0   0
35       152       419           588  ...     0      1     2     0   3
36       118       320           410  ...     0      0     0     0   0
37       110       244           366  ...     0      0     0     0   0
38       137       285           430  ...     0      0     1     0   1
39        63       199           241  ...     0      0     0     0   0
40        90       202           296  ...     0      0     0     0   0
41        95       216           310  ...     0      0     0     0   0
42        83       165           221  ...     0      0     0     0   0
43        78       155           253  ...     0      0     0     0   0
44        52       139           167  ...     0      0     0     0   0
45        66       227           308  ...     1      0     3     0   4
46        44       101           139  ...     0      0     0     0   0
47        66       181           295  ...     0      0     0     0   0
48        37        62           117  ...     0      0     0     0   0
49        37        70           115  ...     0      0     0     0   0
50        62       145           252  ...     0      0     0     0   0
51        48       121           183  ...     0      0     0     0   0
52        37       153           184  ...     0      0     0     1   1
53        33        71           116  ...     0      0     0     0   0
54        30        97           131  ...     0      0     0     0   0
55        41        70           182  ...     0      0     0     0   0
56        19        36            55  ...     0      0     0     0   0
57        20        38            66  ...     0      0     0     0   0
58        15        37            57  ...     0      0     0     0   0
59        18        51            85  ...     0      0     0     0   0
60        21        34            65  ...     0      0     0     0   0
61         0         0             0  ...     0      0     0     0   0

0     Debut Since/LastApp BestPosition Debut_Year Diff_Goal
1      1929          1929            1       1929      2807
2      1929          1929            1       1929      2786
3      1929       2002-03            1       1929      1225
4   1931-32       1987-88            1       1931       929
5      1929          1929            1       1929       931
6   1934-35       2001-02            1       1934       307
7      1929       1994-95            3       1929      -280
8      1929       2010-11            1       1929        -2
9   1939-40       2012-13            2       1939      -164
10  1932-33       2015-16            1       1932      -333
11  1941-42       2014-15            1       1941      -136
12  1939-40       2012-13            4       1939      -346
13  1948-49       2013-14            4       1948      -413
14     1929       2011-12            2       1929      -525
15  1944-45       2015-16            2       1944      -399
16  1935-36       2016-17            4       1935      -334
17  1949-50       2008-09            4       1949      -342
18  1933-34       2000-01            3       1933      -309
19  1960-61       2012-13            3       1960      -189
20  1951-52       2015-16            2       1951      -399
21  1998-99       2013-14            2       1998       103
22  1941-42       2016-17            6       1941      -338
23  1977-78       2015-16            8       1977      -328
24  1959-60       2014-15            5       1959      -272
25  2004-05       2015-16            6       2004      -113
26  1935-36       2010-11            5       1935      -334
27  1961-62       2009-10            5       1961      -125
28  1940-41       2007-08           11       1940      -385
29  1930-31       2016-17            6       1930      -165
30  1963-64       2015-16            6       1963      -202
..      ...           ...          ...        ...       ...
32  1943-44       1987-88            4       1943      -228
33  1977-78       2005-06           12       1977      -269
34  1987-88       1996-97            7       1987      -198
35  1941-42       1990-91            4       1941      -169
36  1991-92       2004-05            7       1991       -90
37  2007-08       2014-15            8       2007      -122
38  1962-63       2014-15            5       1962      -145
39  1994-95       1997-98           10       1994       -42
40  1978-79       2008-09            8       1978       -94
41  1971-72       1979-80           12       1971       -94
42  1963-64       1969-70            7       1963       -56
43  1999-00       2008-09           17       1999       -98
44  2014-15       2014-15           10       2014       -28
45     1929       1934-35            3       1929       -81
46  1990-91       1992-93            9       1990       -38
47  1947-48       2006-07            7       1947      -114
48  1996-97       1998-99           17       1996       -55
49  1995-96       1997-98           19       1995       -45
50  1945-46       1950-51           10       1945      -107
51  1953-54       1957-58           14       1953       -62
52     1929       1931-32            6       1929       -31
53  1979-80       1980-81           10       1979       -45
54     1929       1930-31            8       1929       -34
55  1950-51       1993-94           16       1950      -112
56  2016-17       2016-17           17       2016       -19
57  2009-10       2009-10           20       2009       -28
58  1956-57       1956-57           16       1956       -20
59  1951-52       1951-52           16       1951       -34
60  1955-56       1955-56           15       1955       -31
61  2017-18       2017-18            9       2017         0

[61 rows x 22 columns]
Team with max goal difference
-------------------------------
0 Pos         Team Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
1   1  Real Madrid      86    4385        2762     1647        552       563

0  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T Debut  \
1      5947          3140  ...     8      8     3     4  79  1929

0 Since/LastApp BestPosition Debut_Year Diff_Goal
1          1929            1       1929      2807

[1 rows x 22 columns]
Team with min goal difference
-------------------------------
0  Pos              Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
14  14  Racing Santander      44    1416        1428      453        336

0  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth  T Debut  \
14       639      1843          2368  ...     1      2     0     1  5  1929

0  Since/LastApp BestPosition Debut_Year Diff_Goal
14       2011-12            2       1929      -525

[1 rows x 22 columns]

In [214]:
# Ques 4: Alternate approach
Goal_diff_count = lambda a,b : a-b
Laliga_1[['GoalsFor','GoalsAgainst']]=Laliga_1[['GoalsFor','GoalsAgainst']].apply(pd.to_numeric)
Laliga_1['Goal_Difference']=Goal_diff_count(Laliga_1['GoalsFor'],Laliga_1['GoalsAgainst'])
print (Laliga_1)
print ('Team with max goal difference')
print ('------------------------------')
print (Laliga_1[Laliga_1.Goal_Difference == Laliga_1.Goal_Difference.max()])
print ('Team with min goal difference')
print ('------------------------------')
print (Laliga_1[Laliga_1.Goal_Difference == Laliga_1.Goal_Difference.min()])
Laliga_1.drop ('Goal_Difference',axis=1,inplace=True)

0  Pos                 Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1    1          Real Madrid      86    4385        2762     1647        552
2    2            Barcelona      86    4262        2762     1581        573
3    3      Atletico Madrid      80    3442        2614     1241        598
4    4             Valencia      82    3386        2664     1187        616
5    5      Athletic Bilbao      86    3368        2762     1209        633
6    6              Sevilla      73    2819        2408      990        531
7    7             Espanyol      82    2792        2626      948        608
8    8        Real Sociedad      70    2573        2302      864        577
9    9             Zaragoza      58    2109        1986      698        522
10  10           Real Betis      51    1884        1728      606        440
11  11  Deportivo La Coruna      45    1814        1530      563        392
12  12           Celta Vigo      51    1789        1698      586        389
13  13           Valladolid      42    1471        1466      463        384
14  14     Racing Santander      44    1416        1428      453        336
15  15       Sporting Gijon      43    1389        1458      471        358
16  16              Osasuna      37    1351        1318      426        327
17  17               Malaga      36    1314        1255      390        330
18  18               Oviedo      38    1174        1192      408        292
19  19             Mallorca      27    1148         988      333        256
20  20           Las Palmas      33    1020        1096      367        242
21  21           Villarreal      17     970         646      266        172
22  22              Granada      23     667         742      218        175
23  23       Rayo Vallecano      17     662         652      189        148
24  24                Elche      21     606         678      203        180
25  25               Getafe      12     553         456      147        112
26  26             Hercules      20     538         628      184        149
27  27             Tenerife      13     510         494      155        128
28  28               Murcia      18     445         586      145        143
29  29               Alaves      12     421         380      125         81
30  30              Levante      11     416         402      113         95
..  ..                  ...     ...     ...         ...      ...        ...
32  32             Sabadell      14     353         426      129         95
33  33                Cadiz      12     343         448      104        127
34  34             Logrones       9     293         346       96         92
35  35            Castellon      11     285         334      103         79
36  36             Albacete       7     277         270       76         76
37  37              Almeria       6     242         228       62         56
38  38              Cordoba       9     230         282       82         63
39  39           Compostela       4     190         160       52         45
40  40           Recreativo       5     188         186       50         46
41  41            Burgos CF       6     168         204       59         50
42  42           Pontevedra       6     150         180       53         44
43  43             Numancia       4     148         152       37         37
44  44                Eibar       3     132         114       35         27
45  45               Arenas       7     107         130       43         21
46  46          Real Burgos       3      96         114       26         44
47  47            Gimnastic       4      91         116       34         16
48  48          Extremadura       2      83          80       20         23
49  49               Merida       2      81          80       19         24
50  50             Alcoyano       4      76         108       30         16
51  51                 Jaen       3      71          90       29         13
52  52           Real Union       4      56          72       21         14
53  53           AD Almeria       2      52          68       17         18
54  54               Europa       3      42          54       18          6
55  55               Lleida       2      40          68       13         14
56  56              Leganes       1      35          38        8         11
57  57                Xerez       1      34          38        8         10
58  58               Condal       1      22          30        7          8
59  59      Atletico Tetuan       1      19          30        7          5
60  60     Cultural Leonesa       1      14          30        5          4
61  61               Girona       1       0           0        0          0

0  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T  \
1        563      5947          3140  ...     8      8     3     4  79
2        608      5900          3114  ...    12     12     4     6  83
3        775      4534          3309  ...    16      9     7     6  56
4        861      4398          3469  ...    10     11    10     7  50
5        920      4631          3700  ...    10      5     8    10  49
6        887      3680          3373  ...     4      5    12     6  32
7       1070      3609          3889  ...     4      5     2     5  16
8        861      3228          3230  ...     2      5     4     3  19
9        766      2683          2847  ...     4      5     4     4  18
10       682      2159          2492  ...     2      3     4     4  14
11       575      2052          2188  ...     4      1     0     1  12
12       723      2278          2624  ...     0      2     4     5  11
13       619      1767          2180  ...     0      1     1     1   3
14       639      1843          2368  ...     1      2     0     1   5
15       629      1753          2152  ...     1      2     2     1   7
16       565      1500          1834  ...     0      2     2     2   6
17       535      1421          1763  ...     0      1     0     1   2
18       492      1642          1951  ...     3      2     2     4  11
19       399      1182          1371  ...     2      0     2     1   5
20       487      1347          1746  ...     1      1     1     1   5
21       208       892           789  ...     1      2     3     2   9
22       349       819          1157  ...     0      0     0     2   2
23       305       760          1088  ...     0      0     0     0   0
24       295       750          1022  ...     0      0     1     1   2
25       197       520           633  ...     0      0     0     1   1
26       295       716          1050  ...     0      0     1     4   5
27       211       619           744  ...     0      0     2     0   2
28       298       607           992  ...     0      0     0     0   0
29       174       458           623  ...     0      0     0     1   1
30       194       430           632  ...     0      0     0     1   1
..       ...       ...           ...  ...   ...    ...   ...   ...  ..
32       202       492           720  ...     0      1     1     0   2
33       217       393           662  ...     0      0     0     0   0
34       158       291           489  ...     0      0     0     0   0
35       152       419           588  ...     0      1     2     0   3
36       118       320           410  ...     0      0     0     0   0
37       110       244           366  ...     0      0     0     0   0
38       137       285           430  ...     0      0     1     0   1
39        63       199           241  ...     0      0     0     0   0
40        90       202           296  ...     0      0     0     0   0
41        95       216           310  ...     0      0     0     0   0
42        83       165           221  ...     0      0     0     0   0
43        78       155           253  ...     0      0     0     0   0
44        52       139           167  ...     0      0     0     0   0
45        66       227           308  ...     1      0     3     0   4
46        44       101           139  ...     0      0     0     0   0
47        66       181           295  ...     0      0     0     0   0
48        37        62           117  ...     0      0     0     0   0
49        37        70           115  ...     0      0     0     0   0
50        62       145           252  ...     0      0     0     0   0
51        48       121           183  ...     0      0     0     0   0
52        37       153           184  ...     0      0     0     1   1
53        33        71           116  ...     0      0     0     0   0
54        30        97           131  ...     0      0     0     0   0
55        41        70           182  ...     0      0     0     0   0
56        19        36            55  ...     0      0     0     0   0
57        20        38            66  ...     0      0     0     0   0
58        15        37            57  ...     0      0     0     0   0
59        18        51            85  ...     0      0     0     0   0
60        21        34            65  ...     0      0     0     0   0
61         0         0             0  ...     0      0     0     0   0

0     Debut Since/LastApp BestPosition Debut_Year Goal_Difference
1      1929          1929            1       1929            2807
2      1929          1929            1       1929            2786
3      1929       2002-03            1       1929            1225
4   1931-32       1987-88            1       1931             929
5      1929          1929            1       1929             931
6   1934-35       2001-02            1       1934             307
7      1929       1994-95            3       1929            -280
8      1929       2010-11            1       1929              -2
9   1939-40       2012-13            2       1939            -164
10  1932-33       2015-16            1       1932            -333
11  1941-42       2014-15            1       1941            -136
12  1939-40       2012-13            4       1939            -346
13  1948-49       2013-14            4       1948            -413
14     1929       2011-12            2       1929            -525
15  1944-45       2015-16            2       1944            -399
16  1935-36       2016-17            4       1935            -334
17  1949-50       2008-09            4       1949            -342
18  1933-34       2000-01            3       1933            -309
19  1960-61       2012-13            3       1960            -189
20  1951-52       2015-16            2       1951            -399
21  1998-99       2013-14            2       1998             103
22  1941-42       2016-17            6       1941            -338
23  1977-78       2015-16            8       1977            -328
24  1959-60       2014-15            5       1959            -272
25  2004-05       2015-16            6       2004            -113
26  1935-36       2010-11            5       1935            -334
27  1961-62       2009-10            5       1961            -125
28  1940-41       2007-08           11       1940            -385
29  1930-31       2016-17            6       1930            -165
30  1963-64       2015-16            6       1963            -202
..      ...           ...          ...        ...             ...
32  1943-44       1987-88            4       1943            -228
33  1977-78       2005-06           12       1977            -269
34  1987-88       1996-97            7       1987            -198
35  1941-42       1990-91            4       1941            -169
36  1991-92       2004-05            7       1991             -90
37  2007-08       2014-15            8       2007            -122
38  1962-63       2014-15            5       1962            -145
39  1994-95       1997-98           10       1994             -42
40  1978-79       2008-09            8       1978             -94
41  1971-72       1979-80           12       1971             -94
42  1963-64       1969-70            7       1963             -56
43  1999-00       2008-09           17       1999             -98
44  2014-15       2014-15           10       2014             -28
45     1929       1934-35            3       1929             -81
46  1990-91       1992-93            9       1990             -38
47  1947-48       2006-07            7       1947            -114
48  1996-97       1998-99           17       1996             -55
49  1995-96       1997-98           19       1995             -45
50  1945-46       1950-51           10       1945            -107
51  1953-54       1957-58           14       1953             -62
52     1929       1931-32            6       1929             -31
53  1979-80       1980-81           10       1979             -45
54     1929       1930-31            8       1929             -34
55  1950-51       1993-94           16       1950            -112
56  2016-17       2016-17           17       2016             -19
57  2009-10       2009-10           20       2009             -28
58  1956-57       1956-57           16       1956             -20
59  1951-52       1951-52           16       1951             -34
60  1955-56       1955-56           15       1955             -31
61  2017-18       2017-18            9       2017               0

[61 rows x 22 columns]
Team with max goal difference
------------------------------
0 Pos         Team Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
1   1  Real Madrid      86    4385        2762     1647        552       563

0  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T Debut  \
1      5947          3140  ...     8      8     3     4  79  1929

0 Since/LastApp BestPosition Debut_Year Goal_Difference
1          1929            1       1929            2807

[1 rows x 22 columns]
Team with min goal difference
------------------------------
0  Pos              Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
14  14  Racing Santander      44    1416        1428      453        336

0  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth  T Debut  \
14       639      1843          2368  ...     1      2     0     1  5  1929

0  Since/LastApp BestPosition Debut_Year Goal_Difference
14       2011-12            2       1929            -525

[1 rows x 22 columns]

In [237]:
# Ques 5 : Winning percent
Laliga_1[['GamesWon','GamesPlayed']]=Laliga_1[['GamesWon','GamesPlayed']].apply(pd.to_numeric)
Laliga_1['Winning Percent']=(Laliga_1['GamesWon']/Laliga_1['GamesPlayed'])*100
Laliga_1['Winning Percent'].fillna(0, inplace=True)
print (Laliga_1.tail(5))
print ('Top 5 Teams with highest winning percentage')
print ('-------------------------------------------')
print (Laliga_1.nlargest(5,'Winning Percent'))

0  Pos              Team Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
57  57             Xerez       1      34           38         8         10
58  58            Condal       1      22           30         7          8
59  59   Atletico Tetuan       1      19           30         7          5
60  60  Cultural Leonesa       1      14           30         5          4
61  61            Girona       1       0            0         0          0

0  GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth  T  \
57        20        38            66  ...     0      0     0     0  0
58        15        37            57  ...     0      0     0     0  0
59        18        51            85  ...     0      0     0     0  0
60        21        34            65  ...     0      0     0     0  0
61         0         0             0  ...     0      0     0     0  0

0     Debut Since/LastApp BestPosition Debut_Year Winning Percent
57  2009-10       2009-10           20       2009       21.052632
58  1956-57       1956-57           16       1956       23.333333
59  1951-52       1951-52           16       1951       23.333333
60  1955-56       1955-56           15       1955       16.666667
61  2017-18       2017-18            9       2017        0.000000

[5 rows x 22 columns]
Top 5 Teams with highest winning percentage
-------------------------------------------
0 Pos             Team Seasons  Points  GamesPlayed  GamesWon GamesDrawn  \
1   1      Real Madrid      86    4385         2762      1647        552
2   2        Barcelona      86    4262         2762      1581        573
3   3  Atletico Madrid      80    3442         2614      1241        598
4   4         Valencia      82    3386         2664      1187        616
5   5  Athletic Bilbao      86    3368         2762      1209        633

0 GamesLost  GoalsFor  GoalsAgainst  ... Third Fourth Fifth Sixth   T  \
1       563      5947          3140  ...     8      8     3     4  79
2       608      5900          3114  ...    12     12     4     6  83
3       775      4534          3309  ...    16      9     7     6  56
4       861      4398          3469  ...    10     11    10     7  50
5       920      4631          3700  ...    10      5     8    10  49

0    Debut Since/LastApp BestPosition Debut_Year Winning Percent
1     1929          1929            1       1929       59.630702
2     1929          1929            1       1929       57.241130
3     1929       2002-03            1       1929       47.475134
4  1931-32       1987-88            1       1931       44.557057
5     1929          1929            1       1929       43.772629

[5 rows x 22 columns]

In [277]:
# Ques 6 Group by Best Position with sum of points
Laliga_1[['BestPosition','Points']]=Laliga_1[['BestPosition','Points']].apply(pd.to_numeric)
Laliga_Q6=Laliga_1.groupby ('BestPosition', as_index=False)['Points'].sum()
print (Laliga_Q6)

0   BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34