In [2]:
import numpy as np
import pandas as pd

#Read Data
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Q1 --> Loading the dataset
bac = pd.read_csv('/content/drive/My Drive/Colab Notebooks/blogtext.csv')

In [39]:
bac_df=bac[:20000]
bac_df.head(2)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...

[2 rows x 7 columns]

In [40]:
bac_df.shape

(20000, 7)

In [0]:
#Q2
# import and instantiate CountVectorizer (with the default parameters)
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(stop_words='english',lowercase=True)
# Lowercase, stopwords have been forced. Unwanted spaces and characters are automatically removed unless included using token_pattern)

In [42]:
#Q3 
bac_df.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
dtype: object

In [43]:
bac_df['labels']=bac_df['gender']+bac_df['age'].astype(str)+bac_df['topic']+bac_df['sign']
bac_df.head(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        id  ...            labels
0  2059027  ...  male15StudentLeo
1  2059027  ...  male15StudentLeo

[2 rows x 8 columns]

In [44]:
bac_df1=bac_df.drop(['id','gender','age','topic','sign','date'],axis=1)
bac_df1.head(2)

                                                text            labels
0             Info has been found (+/- 100 pages,...  male15StudentLeo
1             These are the team members:   Drewe...  male15StudentLeo

In [45]:
#Q4: Separating Features and Labels, train/test split 
x=bac_df1['text']
y=bac_df1['labels']
print(x.head(2))
print(y.head(2))

0               Info has been found (+/- 100 pages,...
1               These are the team members:   Drewe...
Name: text, dtype: object
0    male15StudentLeo
1    male15StudentLeo
Name: labels, dtype: object

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
# split X and y into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y,random_state=10)

In [48]:
##Training data
print(x_train.shape)
print(y_train.shape)

(15000,)
(15000,)

In [49]:
#Test data
print(x_test.shape)
print(y_test.shape)

(5000,)
(5000,)

In [50]:
#Q5 --> Vectorize the features
#Feed input data to CountVectorizer after including ngram
cvect = CountVectorizer(stop_words='english',lowercase=True,ngram_range=(1,2))
cvect.fit(x_train)

#Check the vocablury size
len(cvect.vocabulary_)

978066

In [0]:
#Convert Training/Test data Count Vectors
x_train_ct=cvect.transform(x_train)
x_test_ct=cvect.transform(x_test)

In [52]:
#Size of Document Term Matrix
print(x_train_ct.shape)
print(x_test_ct.shape)

(15000, 978066)
(5000, 978066)

In [53]:
#sparse matrix
print(x_train_ct[0])

  (0, 18392)	1
  (0, 18524)	1
  (0, 30144)	1
  (0, 30180)	1
  (0, 64225)	1
  (0, 64226)	1
  (0, 78775)	1
  (0, 78776)	1
  (0, 88097)	1
  (0, 88332)	1
  (0, 99658)	1
  (0, 99659)	1
  (0, 115174)	3
  (0, 115183)	1
  (0, 115184)	1
  (0, 115196)	1
  (0, 143258)	1
  (0, 143304)	1
  (0, 154084)	1
  (0, 154208)	1
  (0, 166401)	1
  (0, 166730)	1
  (0, 184868)	1
  (0, 185522)	1
  (0, 199258)	1
  :	:
  (0, 875760)	1
  (0, 875765)	1
  (0, 878255)	1
  (0, 878313)	1
  (0, 910658)	1
  (0, 911182)	1
  (0, 913280)	1
  (0, 913483)	1
  (0, 923960)	1
  (0, 925150)	1
  (0, 931993)	1
  (0, 933244)	1
  (0, 935813)	1
  (0, 935818)	1
  (0, 936768)	1
  (0, 937759)	1
  (0, 946030)	1
  (0, 946085)	1
  (0, 955013)	2
  (0, 955885)	1
  (0, 956582)	1
  (0, 966250)	1
  (0, 966473)	1
  (0, 967879)	1
  (0, 968414)	1

In [54]:
#Q6: Printing the dictionary
y_train.value_counts()

male35TechnologyAries        1737
male36FashionAries           1214
female27indUnkTaurus          467
female17indUnkScorpio         411
female34indUnkSagittarius     398
                             ...
male17StudentScorpio            1
male25AccountingLibra           1
female17indUnkSagittarius       1
female16StudentPisces           1
male25Non-ProfitCapricorn       1
Name: labels, Length: 422, dtype: int64

In [55]:
d=y_train.value_counts().to_dict()
d

{'female13StudentAquarius': 25,
 'female13StudentSagittarius': 4,
 'female13StudentVirgo': 2,
 'female13indUnkAries': 8,
 'female13indUnkGemini': 14,
 'female13indUnkLibra': 11,
 'female13indUnkScorpio': 7,
 'female13indUnkVirgo': 5,
 'female14EducationScorpio': 4,
 'female14StudentCancer': 9,
 'female14StudentCapricorn': 1,
 'female14StudentLeo': 61,
 'female14StudentSagittarius': 6,
 'female14StudentTaurus': 9,
 'female14indUnkAquarius': 17,
 'female14indUnkAries': 22,
 'female14indUnkCancer': 6,
 'female14indUnkCapricorn': 92,
 'female14indUnkGemini': 6,
 'female14indUnkLeo': 44,
 'female14indUnkLibra': 96,
 'female14indUnkTaurus': 11,
 'female14indUnkVirgo': 3,
 'female15AgricultureSagittarius': 34,
 'female15ArtsPisces': 2,
 'female15Non-ProfitScorpio': 39,
 'female15StudentAquarius': 52,
 'female15StudentAries': 21,
 'female15StudentCancer': 8,
 'female15StudentCapricorn': 5,
 'female15StudentGemini': 5,
 'female15StudentLeo': 12,
 'female15StudentLibra': 102,
 'female15StudentPisces': 68,
 'female15StudentTaurus': 15,
 'female15StudentVirgo': 23,
 'female15indUnkAquarius': 9,
 'female15indUnkAries': 20,
 'female15indUnkGemini': 24,
 'female15indUnkTaurus': 37,
 'female16EducationCancer': 16,
 'female16HumanResourcesAquarius': 3,
 'female16StudentAquarius': 4,
 'female16StudentAries': 14,
 'female16StudentCancer': 2,
 'female16StudentCapricorn': 39,
 'female16StudentLeo': 8,
 'female16StudentLibra': 13,
 'female16StudentPisces': 1,
 'female16StudentTaurus': 18,
 'female16StudentVirgo': 13,
 'female16indUnkCancer': 21,
 'female16indUnkCapricorn': 51,
 'female16indUnkLeo': 8,
 'female16indUnkLibra': 30,
 'female16indUnkPisces': 47,
 'female16indUnkSagittarius': 3,
 'female16indUnkTaurus': 24,
 'female17ArtsLeo': 62,
 'female17BusinessServicesScorpio': 24,
 'female17StudentAquarius': 5,
 'female17StudentAries': 20,
 'female17StudentCapricorn': 14,
 'female17StudentGemini': 48,
 'female17StudentLeo': 25,
 'female17StudentPisces': 39,
 'female17StudentSagittarius': 26,
 'female17StudentScorpio': 7,
 'female17StudentTaurus': 26,
 'female17indUnkAries': 17,
 'female17indUnkCancer': 102,
 'female17indUnkLeo': 45,
 'female17indUnkSagittarius': 1,
 'female17indUnkScorpio': 411,
 'female17indUnkVirgo': 37,
 'female23AdvertisingTaurus': 4,
 'female23ArtsAries': 6,
 'female23ArtsCapricorn': 101,
 'female23AutomotiveAquarius': 10,
 'female23BusinessServicesCancer': 31,
 'female23BusinessServicesTaurus': 6,
 'female23EducationAquarius': 2,
 'female23EducationAries': 4,
 'female23GovernmentVirgo': 16,
 'female23HumanResourcesCapricorn': 5,
 'female23InternetAries': 1,
 'female23InvestmentBankingSagittarius': 1,
 'female23MarketingLeo': 8,
 'female23MilitaryCancer': 9,
 'female23Museums-LibrariesLeo': 11,
 'female23ScienceLeo': 6,
 'female23StudentGemini': 4,
 'female23StudentTaurus': 13,
 'female23indUnkAquarius': 3,
 'female23indUnkAries': 40,
 'female23indUnkCancer': 131,
 'female23indUnkLibra': 12,
 'female23indUnkSagittarius': 2,
 'female23indUnkScorpio': 38,
 'female23indUnkTaurus': 3,
 'female23indUnkVirgo': 2,
 'female24AdvertisingCancer': 16,
 'female24ArchitecturePisces': 4,
 'female24ArtsSagittarius': 8,
 'female24BankingAquarius': 25,
 'female24BankingLibra': 3,
 'female24EducationCapricorn': 32,
 'female24GovernmentCapricorn': 4,
 'female24LawLeo': 26,
 'female24RealEstateAries': 2,
 'female24ReligionCapricorn': 4,
 'female24ScienceLeo': 8,
 'female24StudentCancer': 9,
 'female24TechnologyLeo': 13,
 'female24indUnkAries': 370,
 'female24indUnkCancer': 1,
 'female24indUnkLibra': 6,
 'female24indUnkPisces': 10,
 'female24indUnkSagittarius': 216,
 'female24indUnkScorpio': 147,
 'female25AccountingCapricorn': 12,
 'female25ArtsCapricorn': 4,
 'female25BusinessServicesAries': 17,
 'female25Communications-MediaPisces': 17,
 'female25ConsultingPisces': 26,
 'female25EducationTaurus': 12,
 'female25EngineeringGemini': 2,
 'female25Museums-LibrariesGemini': 39,
 'female25Non-ProfitCapricorn': 6,
 'female25PublishingSagittarius': 2,
 'female25StudentLeo': 11,
 'female25StudentLibra': 39,
 'female25StudentPisces': 5,
 'female25StudentTaurus': 26,
 'female25TechnologySagittarius': 44,
 'female25indUnkAquarius': 88,
 'female25indUnkCancer': 22,
 'female25indUnkCapricorn': 2,
 'female25indUnkLibra': 25,
 'female25indUnkPisces': 13,
 'female25indUnkSagittarius': 14,
 'female25indUnkTaurus': 46,
 'female25indUnkVirgo': 47,
 'female26AccountingAquarius': 1,
 'female26AccountingCancer': 12,
 'female26AdvertisingTaurus': 12,
 'female26ConsultingLeo': 53,
 'female26EducationAries': 5,
 'female26ScienceSagittarius': 4,
 'female26TransportationScorpio': 35,
 'female26indUnkAquarius': 137,
 'female26indUnkGemini': 14,
 'female26indUnkLibra': 8,
 'female26indUnkPisces': 18,
 'female26indUnkScorpio': 14,
 'female26indUnkVirgo': 13,
 'female27EducationAquarius': 63,
 'female27EducationCancer': 29,
 'female27EducationGemini': 1,
 'female27GovernmentAquarius': 3,
 'female27LawPisces': 7,
 'female27MarketingAquarius': 109,
 'female27MilitaryCapricorn': 2,
 'female27Museums-LibrariesLeo': 1,
 'female27PublishingScorpio': 42,
 'female27RealEstateCapricorn': 3,
 'female27ReligionTaurus': 59,
 'female27indUnkAries': 15,
 'female27indUnkSagittarius': 153,
 'female27indUnkTaurus': 467,
 'female33ArtsSagittarius': 19,
 'female33BankingAquarius': 9,
 'female33ConsultingAries': 2,
 'female33LawLeo': 2,
 'female33indUnkCancer': 126,
 'female33indUnkLeo': 8,
 'female33indUnkPisces': 87,
 'female33indUnkTaurus': 32,
 'female34EducationScorpio': 11,
 'female34indUnkCancer': 10,
 'female34indUnkSagittarius': 398,
 'female34indUnkScorpio': 6,
 'female34indUnkVirgo': 4,
 'female35LawEnforcement-SecurityCancer': 33,
 'female35PublishingScorpio': 4,
 'female35TechnologyLibra': 2,
 'female35indUnkAquarius': 2,
 'female35indUnkGemini': 10,
 'female35indUnkVirgo': 11,
 'female36InternetAries': 22,
 'female36InternetCapricorn': 9,
 'female36Sports-RecreationSagittarius': 2,
 'female36StudentGemini': 1,
 'female36indUnkPisces': 39,
 'female37indUnkAquarius': 16,
 'female37indUnkPisces': 2,
 'female38ArtsVirgo': 14,
 'female38InternetSagittarius': 37,
 'female39EducationTaurus': 10,
 'female40InternetAquarius': 1,
 'female41indUnkGemini': 3,
 'female42ArtsAquarius': 9,
 'female42ConsultingLeo': 7,
 'female43ArtsAries': 5,
 'female44indUnkSagittarius': 3,
 'female45indUnkSagittarius': 12,
 'female45indUnkScorpio': 2,
 'female45indUnkTaurus': 22,
 'female46LawCancer': 1,
 'female46Non-ProfitScorpio': 7,
 'female46indUnkLeo': 114,
 'female47ArtsSagittarius': 4,
 'male13StudentLeo': 2,
 'male13StudentVirgo': 3,
 'male13indUnkAquarius': 7,
 'male14StudentAquarius': 29,
 'male14StudentAries': 12,
 'male14StudentCancer': 9,
 'male14StudentLeo': 28,
 'male14StudentLibra': 26,
 'male14StudentPisces': 5,
 'male14StudentScorpio': 36,
 'male14StudentVirgo': 8,
 'male14indUnkCapricorn': 12,
 'male14indUnkLeo': 13,
 'male14indUnkSagittarius': 13,
 'male14indUnkScorpio': 26,
 'male14indUnkVirgo': 1,
 'male15ArtsCancer': 8,
 'male15EducationVirgo': 7,
 'male15FashionTaurus': 4,
 'male15GovernmentLeo': 58,
 'male15ReligionCapricorn': 5,
 'male15ScienceLibra': 22,
 'male15Sports-RecreationTaurus': 2,
 'male15StudentAquarius': 25,
 'male15StudentLeo': 8,
 'male15StudentLibra': 1,
 'male15StudentSagittarius': 32,
 'male15StudentTaurus': 11,
 'male15StudentVirgo': 105,
 'male15indUnkCapricorn': 17,
 'male15indUnkSagittarius': 2,
 'male15indUnkVirgo': 71,
 'male16ArtsVirgo': 2,
 'male16BusinessServicesSagittarius': 8,
 'male16InternetGemini': 7,
 'male16Sports-RecreationGemini': 27,
 'male16StudentCancer': 52,
 'male16StudentCapricorn': 70,
 'male16StudentLeo': 4,
 'male16StudentLibra': 32,
 'male16StudentPisces': 85,
 'male16StudentSagittarius': 21,
 'male16StudentScorpio': 12,
 'male16StudentVirgo': 9,
 'male16indUnkCancer': 141,
 'male16indUnkGemini': 14,
 'male16indUnkSagittarius': 39,
 'male16indUnkScorpio': 52,
 'male16indUnkTaurus': 12,
 'male17InternetAquarius': 65,
 'male17Non-ProfitGemini': 5,
 'male17Non-ProfitSagittarius': 5,
 'male17Sports-RecreationCapricorn': 51,
 'male17StudentAries': 8,
 'male17StudentCancer': 159,
 'male17StudentCapricorn': 42,
 'male17StudentGemini': 6,
 'male17StudentLeo': 17,
 'male17StudentLibra': 7,
 'male17StudentSagittarius': 34,
 'male17StudentScorpio': 1,
 'male17StudentVirgo': 4,
 'male17TechnologyCapricorn': 11,
 'male17indUnkAquarius': 14,
 'male17indUnkCancer': 2,
 'male17indUnkGemini': 73,
 'male17indUnkLibra': 2,
 'male17indUnkSagittarius': 11,
 'male17indUnkScorpio': 9,
 'male17indUnkVirgo': 7,
 'male23ArtsScorpio': 1,
 'male23Communications-MediaCancer': 33,
 'male23ConstructionLeo': 13,
 'male23ConsultingTaurus': 2,
 'male23EducationAries': 12,
 'male23EducationCancer': 2,
 'male23EducationLibra': 6,
 'male23EngineeringAquarius': 75,
 'male23EngineeringCapricorn': 60,
 'male23InternetAquarius': 12,
 'male23InternetLeo': 352,
 'male23InternetScorpio': 5,
 'male23MarketingScorpio': 38,
 'male23MilitaryScorpio': 3,
 'male23Non-ProfitAries': 8,
 'male23StudentAries': 8,
 'male23StudentCancer': 14,
 'male23StudentGemini': 34,
 'male23StudentSagittarius': 7,
 'male23TechnologySagittarius': 11,
 'male23indUnkAquarius': 16,
 'male23indUnkLeo': 4,
 'male23indUnkPisces': 233,
 'male23indUnkSagittarius': 38,
 'male23indUnkScorpio': 1,
 'male23indUnkTaurus': 11,
 'male23indUnkVirgo': 10,
 'male24BankingAquarius': 21,
 'male24BusinessServicesCancer': 16,
 'male24BusinessServicesLeo': 2,
 'male24EducationSagittarius': 1,
 'male24EngineeringLibra': 90,
 'male24MarketingCancer': 4,
 'male24Non-ProfitSagittarius': 5,
 'male24Non-ProfitTaurus': 8,
 'male24ReligionSagittarius': 14,
 'male24StudentGemini': 1,
 'male24StudentSagittarius': 19,
 'male24TechnologyAries': 38,
 'male24TelecommunicationsLeo': 3,
 'male24TelecommunicationsSagittarius': 2,
 'male24indUnkAquarius': 4,
 'male24indUnkCapricorn': 3,
 'male24indUnkLeo': 13,
 'male24indUnkLibra': 25,
 'male25AccountingLibra': 1,
 'male25ArtsAries': 14,
 'male25BankingCapricorn': 4,
 'male25BusinessServicesSagittarius': 28,
 'male25Communications-MediaPisces': 13,
 'male25ConsultingLeo': 20,
 'male25GovernmentVirgo': 45,
 'male25InternetAries': 18,
 'male25InternetCancer': 47,
 'male25Non-ProfitCancer': 30,
 'male25Non-ProfitCapricorn': 1,
 'male25TechnologyAries': 30,
 'male25TechnologyPisces': 1,
 'male25indUnkAries': 2,
 'male25indUnkCapricorn': 2,
 'male25indUnkGemini': 11,
 'male25indUnkLibra': 94,
 'male25indUnkPisces': 13,
 'male25indUnkTaurus': 3,
 'male26ArchitectureCancer': 29,
 'male26ArtsGemini': 1,
 'male26EducationLibra': 18,
 'male26EngineeringGemini': 21,
 'male26Museums-LibrariesLeo': 2,
 'male26ScienceScorpio': 25,
 'male26Sports-RecreationLeo': 2,
 'male26StudentPisces': 100,
 'male26TechnologyAries': 7,
 'male26TechnologyLibra': 2,
 'male26TechnologyScorpio': 36,
 'male26indUnkGemini': 36,
 'male26indUnkLeo': 27,
 'male26indUnkPisces': 24,
 'male26indUnkSagittarius': 30,
 'male27ArtsCancer': 4,
 'male27ArtsVirgo': 11,
 'male27Communications-MediaTaurus': 23,
 'male27EducationAries': 9,
 'male27EducationLibra': 13,
 'male27EducationScorpio': 2,
 'male27EducationTaurus': 26,
 'male27EducationVirgo': 17,
 'male27ReligionAquarius': 37,
 'male27StudentSagittarius': 33,
 'male27TechnologyPisces': 124,
 'male27TechnologyVirgo': 86,
 'male27indUnkCancer': 3,
 'male27indUnkLeo': 150,
 'male27indUnkPisces': 4,
 'male27indUnkSagittarius': 207,
 'male27indUnkTaurus': 13,
 'male27indUnkVirgo': 24,
 'male33AutomotiveGemini': 75,
 'male33EducationVirgo': 29,
 'male33EngineeringAries': 5,
 'male33InternetScorpio': 5,
 'male33InvestmentBankingAquarius': 52,
 'male33LawEnforcement-SecurityTaurus': 28,
 'male33Non-ProfitGemini': 16,
 'male33TechnologyLibra': 9,
 'male33TechnologySagittarius': 21,
 'male33indUnkGemini': 49,
 'male33indUnkLeo': 1,
 'male34EducationPisces': 211,
 'male34Non-ProfitSagittarius': 18,
 'male35AdvertisingCancer': 3,
 'male35BusinessServicesTaurus': 7,
 'male35InternetCapricorn': 10,
 'male35LawPisces': 3,
 'male35ScienceVirgo': 3,
 'male35TechnologyAries': 1737,
 'male35TechnologyScorpio': 62,
 'male35TelecommunicationsScorpio': 2,
 'male35indUnkScorpio': 3,
 'male36FashionAries': 1214,
 'male36indUnkTaurus': 5,
 'male37BusinessServicesSagittarius': 2,
 'male37LawEnforcement-SecurityAquarius': 8,
 'male37ManufacturingPisces': 67,
 'male38TechnologySagittarius': 18,
 'male39Communications-MediaLibra': 30,
 'male39ConsultingAquarius': 2,
 'male39EducationVirgo': 25,
 'male39InternetAquarius': 7,
 'male41BiotechLeo': 20,
 'male41Communications-MediaLibra': 12,
 'male41EngineeringGemini': 18,
 'male42GovernmentGemini': 20,
 'male42ReligionAries': 5,
 'male44indUnkTaurus': 1,
 'male45HumanResourcesAquarius': 2,
 'male45ReligionAries': 15,
 'male46ConsultingGemini': 5,
 'male46TechnologyGemini': 5,
 'male48Communications-MediaAries': 188}

In [56]:
d['male35TechnologyAries']

1737

In [0]:
#Q7 --> Transform the labels
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [58]:
y_train1=mlb.fit_transform(y_train)
y_train1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0]])

In [59]:
y_test1=mlb.fit_transform(y_test)
y_test1

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [0]:
#Q8 - choosing a classifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [0]:
clf=LogisticRegression(solver='lbfgs')
clf=OneVsRestClassifier (clf)

In [0]:
clf.fit(x_train_ct, y_train1)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [0]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.metrics import f1_score,classification_report, confusion_matrix,accuracy_score

In [0]:
#Q-9
y_predict = clf.predict(x_test_ct)
print(metrics.accuracy_score(y_test1, y_predict))
print(metrics.confusion_matrix(y_test1, y_predict))
print(metrics.classification_report(y_test1, y_predict))

In [0]:
#Q10
print(x_test, x_test_ct, y_test,y_test_ct, y_predict)